input {
  width: 500px;
  height: 40px;
  font-size: 18px;
}
/* por buena practica se ponen los ; faltantes */
#lista-de-productos {
  display: flex;
}

.producto {
  width: 200px;
  height: 200px;
  margin: 10px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.producto img {
  width: 70%;
  height: auto;
}